{% extends 'base.html' %}
{% block content %}
<body class="overlay">

    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Bienvenue sur le site officiel des JO2024 !</h1>
            </div>
        </div>

    </header>

    <section class="text">
        <p>La XXX|||e Olympiade, un moment historique ! <br> 
        19 jours de compétition et 329 épreuves. Une compétition internationale qui se déroulera du 26 juillet au 11 août 2024. <br>
        Un rendez-vous unique en son genre accompagné de 10 500 athlètes qui ont à coeur de démontrer la puissance et <br>
        la beauté de chacune de leurs disciplines. </p>
    </section>

    <section class="text">
        <h2>L'escalade, nouvelle addition sportive des JO2024.</h2>
        <p>Des épreuves regroupant trois disciplines; le bloc, la vitesse et la difficulté. <br> 
        Chaque épreuve contient des difficultés particulières qui seront l’exemple même du travail et de la détermination des participants. </p>
    </section>

    <section class="text">
        <h3>L’athlétisme, le “sport roi” des Olympiades.</h3>
        <p>Il est le sport le plus ancien, présent depuis les Jeux Olympiques de l’Antiquité. <br>
        Cette discipline emblématique des jeux comportera une variété d’épreuves et le plus de participants.</p>
    </section>

    <div>

    </div>
</body>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
{% endblock %}
