{% extends 'base.html' %}
{% block content %}

<body>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Nos Offres Olympiques</h1>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <!-- Offre solo-->
                    {% for offre in offres %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ offre.image.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ offre.name }}</h5>
                                </br>
                                    {{ offre.description }}
                            </br>
                                </br>
                                    <!-- Product price-->
                                    {{ offre.price }}€
                                
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><button type="button" value="{{ offre.id }}" class="btn btn-secondary" id="add_cart">Ajoutez au panier</button></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    
                   
        </section>
              
    </body>
    
    <script>
        // Vérifier si le bouton a été cliqué
        $(document).on('click', '#add_cart', function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url 'panier_add' %}',
                data: {
                    offre_id: $('#add_cart').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post',
                },
                success: function(json){
                    console.log(json)
                },
                error: function(xhr, errmsg, err){
    
                }
            });
        })
    
    </script> 
{% endblock %}

