{% extends 'base.html' %}
{% block content %}


        
<div class="container">
<br></br> 
<br></br>   
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ billet.image.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              
              <div class="text-center">
              <h5 class="card-title">{{ billet.name }}</h5>
              <p class="card-text">{{ billet.description }}</p>
              <br></br>
              Id:{{ billet.id }}
              <div class="col-6">
              <label for="select">Qty</label>
              <select id="select">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="">3</option>
              </select>

              <p class="card-text">Prix unitaire {{ billet.price }}€</p>
              <a href="{% url 'billetterie' %}" class="btn btn-secondary">Billetterie</a>
              <button type="button" value="{{ billet.id }}" class="btn btn-secondary" id="ajouter-offre">Ajoutez au panier</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>
              


<script>
        // Vérifier si le bouton a été cliqué
        $(document).on('click', '#ajouter-offre', function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'panier_add' %}",
                data: {
                    offre_id: '{{ billet.id }}',
                    billetqty: $('#select option:selected').text(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post',
                },
                
                success: function(json){
                    console.log(json.qty)
                    document.getElementById("panier_quantity").textContent = json.qty
                    
                },
                error: function(xhr, errmsg, err){
    
                }
            });
        })
    
</script> 
{% endblock %}

