{% load static %}
<nav>
    <a href="#"><img src="{% static 'photoJO2logo.png' %}" alt="" class="logo"></a>
    <ul>
        <li><a href="{% url 'accueil' %}">Accueil</a></li>
        <li><a href="{% url 'billetterie' %}">Billetterie</a></li>
        <li><a href="{% url 'moncompte' %}">Mon Compte</a></li>
        <form class="d-flex">
            <a href="{% url 'panier_summary' %}" class="btn btn-outline-dark">
                <i class="bi-cart-fill me-1"></i>
                Cart
                <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
            </a>
        </form>
        {% if user.is_authenticated %}
        <button><a href="{% url 'deconnexion' %}">Déconnexion</a></button>
        {% else %}
        <button><a href="{% url 'connexion' %}">Connexion</a></button>
        {% endif %}
    </ul>
</nav>